*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    padding: 0px;
    margin: 0px;
}
.store{
    height: 100vh;
    background-color: blueviolet;
    padding: 30px 80px;
}
section{
    padding: 30px;
    background-color: aqua;
}