* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.store {
  background-color: blueviolet;
  padding: 30px 80px;
}

.products {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 40px 40px 0px 40px;
  border-radius: 25px;
}
